/* PRODUCTS */
@mixin anclasProductos {
  text-decoration: none;
  background-color: $color-rojo-1;
  color: $color-blanco-2;
}

.titulosProductos {
  background-color: $color-azul-1;
  color: $color-negro-1;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  padding: 1rem;

  h2 {
    font-size: 2.5rem;
  }
}

.colorBtn {
  @include anclasProductos;
  transition: all 0.5s ease-in-out;

  &:hover {
    background-color: $color-rojo-2;
  }
}

.card {
  margin: 0.9rem;
  position: relative;
  background-color: $color-blanco-2;
  border-radius: 5px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.6s ease-in-out;
  &:hover {
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px);
    transition: all 0.6s ease-in-out;
    img {
      transform: scale(1.05);
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.8);
    }
  }
}
