.tituloContact {
  display: flex;
  justify-content: center;
  background-color: $color-negro-1;
  color: $color-blanco-2;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 5rem;
  padding: 3rem;
}

.contactInfo {
  margin-bottom: 5rem;
}

.textLabel {
  margin-top: 1.5rem;
}

textarea {
  margin-top: 0.4rem;
  width: 100%;
  border-radius: 5px;
  border-color: $color-gris-2;
  resize: none;
}

.buttonContact {
  margin-top: 35px;
  margin-right: 1rem !important;
  padding: 10px 25px;
  border-radius: 5px;
  border: none;
  color: $color-blanco-1;
  font-size: 1.1rem;
  font-weight: bold;
  background-color: $color-negro-1;
  transition: all 0s ease-in-out;
  margin-left: auto;
  margin-right: auto;
  &:hover {
    background-color: $color-gris-1;
    cursor: pointer;
  }
}
