$color-blanco-1: #ffffff;
$color-blanco-2: #fff;
$color-blanco-3: white;

$color-negro-1: #111;

$color-gris-1: gray;
$color-gris-2: lightgrey;

$color-rojo-1: #c1101a;
$color-rojo-2: #c12923;

$color-azul-1: lightblue;
